
@{
    ViewBag.Title = "Add";
}

<div class="container">
    <div class="center">
        <h1>Add classes for the current term here</h1>
        <h2>Link to go back: @Html.ActionLink("Go back to home", "Index", "Faculty")</h2>
        <br />
        <h2>The order of the data should be:</h2>
        <h3>CRN, Class Prefix, Class Number, Start Time (Online), Days, Instructor</h3>
    </div>
    <h2>Instructions:</h2>
    <ol>
        <li>Copy and paste class data from the WolfWeb section tally to Notepad, which is in Accessories (to strip the formatting).</li>
        <li>Copy and paste that data into Excel (Ctrl-A, Ctrl-C).</li>
        <li>Remove the unneccesary fields so that it matches the order and columns above.</li>
        <li>For classes that span multiple rows, make it so they are only on one row. (If it has M, W, and TF split up, put them all on the same line.)</li>
        <li>If the class is online, please add "Online" to the Start Time column, you may leave the Days column empty.</li>
        <li>Copy and paste the data from Excel into the text box below.</li>
    </ol>
    <div class="center">
        <form method="post">
            <h3>
                <textarea rows="5" cols="75" name="data" placeholder="Example: 12345 MTH 111 0500 MTWF Rosales, Kendal"></textarea>
            </h3>
            <h3>
                <button type="submit">Submit</button>
            </h3>
        </form>
    </div>
</div>