<div class="row justify-content-center">
    <div class="col-md-8 col-12">
        <div class="error text-center">
            <p>
                <span class="oi oi-circle-x" title="circle-x" aria-hidden="true"></span>
                &nbsp;@ViewBag.Error&nbsp;
                <span class="oi oi-circle-x" title="circle-x" aria-hidden="true"></span>
            </p>
        </div>
    </div>
</div>