<div class="content">
    <hgroup>
        <h2>There was an error. Please push the button below to refresh the page, and try again.</h2>
        <h3>
            @Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn" })
        </h3>
    </hgroup>
</div>