<div class="content">
    <hgroup>
        <div class="row">
            <div class="col-12 text-center">
                <h2>There was an error. Please push the button below to refresh the page, and try again.</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-right">
                @Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn btn-lg btn-danger" })
            </div>
        </div>
    </hgroup>
</div>