
@{
    ViewBag.Title = "Complete";
}

<div class="container">
    <div class="center">
        <h1>Your Reset is Complete.</h1>
        <h2>Go Back?: @Html.ActionLink("Back To Home", "Index", "Faculty")</h2>
    </div>
</div>

