.center {
    text-align: center;
}

body {
    margin-top: 25px;
    background-color: black;
}

h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #35373A;
}

li,
h2,
h3,
h4,
p {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #35373A;
}

button,
.btn {
    color: #F1EFD8;
    background-color: #4B8E97;
    border-radius: 5px;
}

    button:hover,
    .btn:hover {
        color: #4B8E97;
        background-color: #F1EFD8;
        border-radius: 5px;
    }

input {
    width: 25%;
    height: 35px;
    border-radius: 10px;
    border-color: #35373A;
    border-width: 2px;
    color: black;
}

select {
    height: 35px;
    border-radius: 10px;
    border-color: #35373A;
    border-width: 2px;
    color: black;
}

.container {
    background-color: #AECDCF;
}

.table {
    background-color: #AECDCF;
}

th {
    padding: 5px;
    border: 1px solid #35373A;
    text-align: center;
    color: black;
}

td {
    padding: 5px;
    border: 1px solid #35373A;
    color: black;
}