@font-face {
    font-family: 'Crete_Round';
    src: URL('Fonts/Crete_Round/CreteRound-Regular.ttf') format('truetype');
}

body {
    font-family: Crete_Round;
    /*overflow-x: hidden; // Remove bottom scroll bar.*/
    background-image: linear-gradient(to bottom, #C4C6C8, #FFFFFF); //Gray to White
    margin: 15px;
}

.logo {
    max-width: 100%; // Make sure image always fits on the page.
    max-width: 100vw;
    height: auto; // Keep width-height ratio.
}

.border-bottom,
.border-top {
    border-color: #FFFFFF !important;
}

.border-top {
    margin-top: 15px;
}

.border-bottom {
    margin-bottom: 15px;
}

.container {
    border: solid 1px #231F20; // Black
    border-radius: 5px;
    padding: 15px;
    margin: 15px auto;

    .content {
        padding: 1rem;

        .quote {
            height: 45px;
            overflow-y: hidden;
            color: #A7A9AC;
        }

        .btn {
            .oi {
                top: 2px;
            }
        }

        input,
        button,
        select,
        option {
            font-size: 20px;
        }

        label {
            font-size: 24px;

            &.vertical-center {
                padding-top: calc(.15rem + 1px);
                padding-bottom: calc(.15rem + 1px);
                line-height: 1.5;
            }
        }

        .welcome-title {
            h1 {
                color: #DB0A29; //Red
                margin-bottom: 0;
            }
        }

        #border {
            height: 1px;
            background-image: radial-gradient(#A7A9AC, #FFFFFF); //Red to White
            margin-bottom: 15px;
        }
    }
}

.footer {
    font-size:24px;
    img {
        max-width:25%; // Make sure footer image isn't HUGE when pages are resized.
    }
}

.error {
    background-color: #DB0A29; // Red
    color: #FFFFFF; // White
    border-radius: 5px;
    margin: 0.5rem;

    .oi {
        top: 2px;
    }

    p {
        font-size: 20px;
        padding: 0.5rem;
    }
}

.red-text {
    color: #DB0A29;
}

.bg-danger {
    background-color: #DB0A29 !important; //Red
}

.btn-danger {
    background-color: #DB0A29; //Red
    color: #FFFFFF; //White
    border: solid 2px #231F20; //Black

    &:hover {
        background-color: #FFFFFF;
        color: #231F20;
        border: solid 2px #DB0A29;
    }
}

.btn-default {
    background-color: #FFFFFF;
    color: #231F20;
    border: solid 2px #DB0A29;

    &:hover {
        background-color: #DB0A29;
        color: #FFFFFF;
        border: solid 2px #231F20;
    }
}

//Datepicker stuff
.table-condensed {
    width: 350px;
    height: 350px;
    font-size: 20px;

    .datepicker-switch {
        cursor: initial;
    }
    .datepicker-switch:hover {
        background-color: #FFFFFF;
    }

    tbody tr td.active.day {
        background-image: linear-gradient(to bottom, #DB0A29, #DB0A29);
    }
}

//Progress bar stuff
.progress {
    height: 30px;
    background-color: #FFFFFF;
    margin-bottom: 15px;
}
