.center {
    text-align: center;
}

body {
    margin-top: 25px;
    background-color: #FFFCF9;
}

h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #35373A;
}

h2,
h3,
h4,
p {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #35373A;
}

li {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #35373A;
    font-size: 21px;
}

button,
.btn {
    color: #FFFCF9;
    background-color: #B80C09;
    border-radius: 5px;
}

    button:hover,
    .btn:hover {
        color: #B80C09;
        background-color: #FFFCF9;
        border-radius: 5px;
    }

input {
    width: 25%;
    height: 35px;
    border-radius: 10px;
    border-color: #35373A;
    border-width: 2px;
    color: black;
}

select {
    height: 35px;
    border-radius: 10px;
    border-color: #35373A;
    border-width: 2px;
    color: black;
}

.container {
    background-color: #B1EDE8;
}

table {
    width: 75%;
    background-color: #B1EDE8;
    border: 1px solid #35373A;
}

th {
    padding: 5px;
    border: 1px solid #35373A;
    text-align: center;
    color: black;
}

td {
    padding: 5px;
    border: 1px solid #35373A;
    text-align: center;
    color: black;
}