.center {
    text-align: center;
}

body {
    background-color: #F0F8EA;
}

h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #92140C;
}

h2,
h3,
h4,
p {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #DF2935;
}

button,
.btn {
    color: #F0F8EA;
    background-color: #92140C;
    border-radius: 5px;
}

    button:hover,
    .btn:hover {
        color: #F0F8EA;
        background-color: #DF2935;
        border-radius: 5px;
    }

input {
    width: 25%;
    height: 35px;
    border-radius: 10px;
}
