@font-face {
    font-family: 'Crete_Round';
    src: URL('Fonts/Crete_Round/CreteRound-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto_Sans';
    src: URL('Fonts/Noto_Sans_JP/NotoSansJP-Bold.otf') format('opentype');
}

$red: #DB0A29;
$white: #FFFFFF;
$gray: #C4C6C8;
$silver: #A7A9AC;
$black: #231F20;
$font-size: 20px;

.container .content table {
    input {
        font-size: 16px;
    }
}

table {
    border: 2px solid $silver;

    thead {
        tr {
            th {
                background-color: $red;
                color: $white;
                border: 1px solid $silver;
                text-align: center;
            }

            td {
                border: 1px solid $silver;
                text-align: center;
            }

            &:nth-child(even) th {
                background-color: transparent;
                input {
                    width:100%;
                }
            }
        }

        tr th,
        tr td {
            border: 1px solid $silver;
            text-align: center;
        }
    }

    &.dataTable thead > tr > th.sorting_asc,
    &.dataTable thead > tr > th.sorting_desc,
    &.dataTable thead > tr > th.sorting,
    &.dataTable thead > tr > td.sorting_asc,
    &.dataTable thead > tr > td.sorting_desc,
    &.dataTable thead > tr > td.sorting {
        padding-right: 25px;
    }


    &.dataTable thead th.sorting_asc::before,
    &.dataTable thead th.sorting::before,
    &.dataTable thead th.sorting_desc::before,
    &.dataTable thead th.sorting_desc::after,
    &.dataTable thead th.sorting::after,
    &.dataTable thead th.sorting_asc::after {
        bottom: 0;
    }

    &.dataTable thead th.sorting_asc::before,
    &.dataTable thead th.sorting::before,
    &.dataTable thead th.sorting_desc::before {
        right: 0em;
    }

    &.dataTable thead th.sorting_desc::after,
    &.dataTable thead th.sorting::after,
    &.dataTable thead th.sorting_asc::after {
        right: 0.5em;
    }

    &.dataTable.table-hover tbody tr {
        &:hover {
            background-color: $silver;
        }
    }

    tbody {
        tr td {
            border: 1px solid $silver;
        }

        tr {
            &:nth-child(odd) {
                background-color: $gray;
            }

            &:nth-child(even) {
                background-color: $white;
            }
        }
    }
}

    .table-header {
        .table-header-left-class {
            position: relative;

            &::before {
                content: 'Math Center Classes';
                font-weight: 500;
                line-height: 1.2;
                font-size: 2rem;
                font-family: Crete_Round;
            }

            text-align: left;
            align-content: start;
            justify-content: left;
            width: 50%;
        }

        .table-header-left-data {
            position: relative;

            &::before {
                content: 'Math Center Data';
                font-weight: 500;
                line-height: 1.2;
                font-size: 2rem;
            }

            text-align: left;
            align-content: start;
            justify-content: left;
            width: 50%;
        }

        .table-header-right {
            text-align: right;
            align-content: end;
            justify-content: right;
        }
    }

    .dropdown-item.active,
    .dropdown-item:active {
        background-color: $red;
    }

    .nav-tabs {
        border-bottom: 2px solid $silver;
        margin-bottom: 15px;

        .nav-item {
            .nav-link {
                color: $red;

                &.active {
                    color: $black;
                    background-color: $white;
                    border: 2px solid $red;
                }
            }
        }
    }