
@{
    ViewBag.Title = "Add More?";
}
    <div class="container">
        <form method="post">
            <div class="center">
                <!--This doesn't sound good... Fix it before it goes live.-->
                <h1>Taking more than one math class?</h1>
                <h2>Taking another class you might be in here for later?</h2>
                <br />
                <input type="hidden" name="Week" value=@ViewBag.Week />
                <input type="hidden" name="Id" value=@ViewBag.Id />
                <button name="addClass" value="true" type="submit">Yes</button>
                <button name="addClass" value="false" type="submit">No</button>
            </div>
        </form>
    </div>
