<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div class="center" style="margin-top:25px; margin-bottom:25px;">
        <img src="~/Images/logo_horizontal.gif" style="height: 75%;" />
    </div>
    <div class="body-content">
        <div class="container">
            <hgroup>
                <h1>Error.</h1>
                <h2>An error occurred while processing your request.</h2>
            </hgroup>
        </div>
        <br />
        <footer>
            <img src="~/Images/WOULogo.PNG" style="height:100px;" />
        </footer>
    </div>
</body>
</html>
