        <div class="container">
            <hgroup>
                <h2>There was an error. Please push the button below to refresh the page, and try again.</h2>
                <h3>
                    <button type="submit" onclick="location.href='@Url.Action("Welcome", "Home", new { Week = ViewBag.Week })'">Done</button>
                </h3>
            </hgroup>
        </div>