@model IEnumerable<ScienceCenter.Models.Class>
@{
    ViewBag.Title = "ChooseProf";
}

<div class="container">
    <h1>Please Select your Professor:</h1>
    <h3>If your Professor is not in the list, please select Other</h3>
    <div class="center">
        <form method="post">
            <h3>
                <select name="Prof">
                    @foreach (var item in Model)
                    {
                        <option value="@Html.DisplayFor(modelItem => item.Instructor)">@Html.DisplayFor(modelItem => item.Instructor)</option>
                    }
                </select>
                <input type="hidden" name="WeekNum" value=@ViewBag.WeekNum />
                <input type="hidden" name="Id" value=@ViewBag.Id />
                <input type="hidden" name="dept" value=@ViewBag.Dept />
                <input type="hidden" name="classN" value=@ViewBag.cNum />
                <button type="submit">Submit</button>
            </h3>
        </form>
    </div>
</div>

