@model IEnumerable<ScienceCenter.Models.Class>
@{
    ViewBag.Title = "ChooseStartTime";
}

<div class="container">
    <h1>Please select the time of your class:</h1>
    <div class="center">
        <form method="post">
            <h3 style="color: #0D0A0B;">
                <select name="classID">
                    @foreach (var item in Model)
                    {
                        <option value="@Html.DisplayFor(modelItem => item.ClassID)">@Html.DisplayFor(modelItem => item.Time) @Html.DisplayFor(modelItem => item.Days)</option>
                    }
                </select>
                <input type="hidden" name="WeekNum" value=@ViewBag.WeekNum />
                <input type="hidden" name="Id" value=@ViewBag.Id />
                <button type="submit">Submit</button>
            </h3>
        </form>
    </div>
</div>