@model IEnumerable<ScienceCenter.Models.Class>
@{
    ViewBag.Title = "ClassDept";
}

<div class="container">
    <h1>Please Select your Class Prefix:</h1>
    <h2>For example: If you are taking BI 101, select BI</h2>
    <div class="center">
        <form method="post">
            <h3>
                <select name="dept">
                    @foreach (var item in Model)
                    {
                        <option value=@Html.DisplayFor(modelItem => item.DeptPrefix)>@Html.DisplayFor(modelItem => item.DeptPrefix)</option>
                    }
                </select>
                <input type="hidden" name="NumWeek" value=@ViewBag.NumWeek />
                <input type="hidden" name="Id" value=@ViewBag.Id />
                <button type="submit">Submit</button>
            </h3>
        </form>
    </div>
</div>
