
@{
    ViewBag.Title = "Finish";
}

<div class="container">
    <div class="center">
        <h2>Congratulations! You've Signed In!</h2>
        <h3>"There is a difference between not knowing and not knowing yet." -Shelia Tobias</h3>
        <h2>Good luck with your science endeavors!</h2>
        <h3>
            <button type="submit" onclick="location.href='@Url.Action("Welcome", "Home", new { Week = ViewBag.Week })'">Done</button>
        </h3>
        <div class="center">
            <h4 style="color: darkblue;">@ViewBag.Error</h4>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="~/Scripts/reloadPage.js"></script>
}

