
@{
    ViewBag.Title = "SelectDates";
}

<div class="container">
    <h2>Please select the date range for the data downloaded</h2>
    <form method="post">
        <div class="row">
            <div class="col-md-6">
                <input style="width:inherit;" name="start" type="text" placeholder="mm/dd/yyyy" id="start" />
            </div>
            <div class="col-md-6">
                <input style="width:inherit;" name="end" type="text" placeholder="mm/dd/yyyy" id="end" />
            </div>
        </div>
        <div class="row">
            <div class="center">
                <button type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>