
@{
    ViewBag.Title = "Other";
}

<div class="container">
    <h1>Please input the class you are here for:</h1>
    <h2>Example: If you are in MTH 344, please input MTH 344.</h2>
    <div class="center">
        <form method="post">
            <h3>
                <input type="text" name="other" placeholder="Start Typing..." />
                <input type="hidden" name="Week" value=@ViewBag.Week />
                <input type="hidden" name="Id" value=@ViewBag.Id />
                <button type="submit">Submit</button>
            </h3>
        </form>
    </div>
</div>