@model IEnumerable<MathCenter.Models.Class>

@{
    ViewBag.Title = "Class";
}

<div class="content">
    @Html.Partial("_ClassDataTable", "Partials", new ViewDataDictionary {
        { "data", Model.ToList() },
        { "table_id", "classes_table" }
    })
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#classes_table').DataTable({
                "paging": false,
                "ordering": true,
                "info": false,
                "scrollY": 310,
                "scrollX": true,
                "dom": '<"table-header border-bottom row"<"table-header-left-class col-md-6 col-12"><"table-header-right col-md-6 col-12" B>>t',
                "buttons": {
                    "buttons": [
                        {
                            text: "Go Back",
                            action: function ( e, dt, button, config ) {
                                window.location = 'Index';
                            },
                            className: 'btn-default',
                        },
                        { extend: 'excel', className: 'btn-default' },
                        { extend: 'colvis', className: 'btn-danger' }
                    ]
                },
                "bSortCellsTop": true,
                "columns": [
                    { "visible": false },
                    { "visible": true },
                    { "visible": true },
                    { "visible": true },
                    { "visible": false },
                    { "visible": true },
                    { "visible": false }
                ],
                "order":[[2, "asc"]],
            });

            //Filtering Function
            var table = $('#classes_table').DataTable();
            table.columns().every( function () {
                var that = this; 
                $('input', this.header()).on( 'keyup change clear', function () {
                    if (that.search() !== this.value) {
                        that
                            .search( this.value )
                            .draw();
                    }
                });
            });
        });
    </script>
}
