@model IEnumerable<MathCenter.Models.Class>

<div class="content">
    @Html.Partial("_ClassDataTable", "Partials", new ViewDataDictionary {
        { "data", Model.ToList() },
        { "table_id", "classes_table" }
    })
</div>

@section Scripts {
    <script type="text/javascript" src="~/Scripts/datatable-component.js"></script>
    <script type="text/javascript">
        window.facultyClassTable = null;
        var classCreator = new DatatableCreator();

        $(document).ready(function () {
             window.facultyClassTable = classCreator.init({
                table: window.facultyClassTable,
                domClass: '<"table-header border-bottom row"<"table-header-left-class col-md-6 col-12"><"table-header-right col-md-6 col-12" B>>t',
                tableID: "classes_table",
                columns: [
                    { "visible": false },
                    { "visible": true },
                    { "visible": true },
                    { "visible": true },
                    { "visible": true },
                    { "visible": true },
                ],
                buttons: {
                    "buttons": [
                        {
                            text: "Go Back",
                            action: function (e, dt, button, config) {
                                window.location = 'Index';
                            },
                            className: 'btn-default',
                        },
                        { extend: 'excel', className: 'btn-default' },
                        { extend: 'colvis', className: 'btn-danger' },
                    ]
                },
                orderColumn: 2,
                inputClass: 'class-filter',
                skipFirst: false,
            });
        });
    </script>
}
