    <div class="content">
        <div class="row">
            <div class="col-12 text-center welcome-title">
                <h1>Welcome to the Reset page!</h1>
            </div>
            <div class="col-12" id="border"></div>
        </div>
        <div class="row">
            <div class="col-12 border-bottom">
                <h2>This page allows you to reset the database at the end of the term.</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <h3><strong>Download First</strong> Button:</h3>
                <h4>This button downloads the data onto an excel sheet for you and <strong>then</strong> resets the database.</h4>
            </div>
            <div class="col-4">
                <h3><strong>Just Reset</strong> Button:</h3>
                <h4>This button just resets the data, no download.</h4>
            </div>
            <div class="col-4">
                <h3><Strong>Go Back</Strong> Button:</h3>
                <h4>This button allows you to go back to the previous page in case you pressed it on accident.</h4>
            </div>
        </div>
        <div class="row form-group">

            <div class="col-4 text-center">
                @Html.ActionLink("Download First", "DownloadReset", "Faculty", null, new { @class = "btn btn-danger btn-lg"})
            </div>
            <div class="col-4 text-center">
                @Html.ActionLink("Just Reset", "Complete", "Faculty", null, new { @class = "btn btn-default btn-lg" })
            </div>
            <div class="col-4 text-center">
                @Html.ActionLink("Go Back", "Index", "Faculty", null, new { @class = "btn btn-danger btn-lg" })
            </div>
        </div>      
    </div>

