
@{
    ViewBag.Title = "Select Dates";
}

<div class="container">
    <h2>Please select the date range for the data download</h2>
    <div class="center">
        <h4 style="color: darkblue;">@ViewBag.Error</h4>
    </div>
    <form method="post">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h3>Start Date:&nbsp;<input style="width:inherit;" name="start" type="text" placeholder="mm/dd/yyyy" id="start" /></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h3>&nbsp;&nbsp;End Date:&nbsp;<input style="width:inherit;" name="end" type="text" placeholder="mm/dd/yyyy" id="end" /></h3>
            </div>
        </div>
        <div class="row">
            <div class="center">
                <button class="btn" type="submit">Submit</button>
                <h3>@Html.ActionLink("Go Back", "Index", "Faculty")</h3>
            </div>
        </div>
    </form>
</div>