<div class="content">
    <h2>Please select date range for the download:</h2>
    <hr />
    @if (ViewBag.Error != null)
    {
        @Html.Partial("_Errors", "Partials", new ViewDataDictionary { { "error", ViewBag.Error } })
    }
    @using (Html.BeginForm())
    {
        <div class="row form-group">
            <div class="col-md-6">
                <label class="h4">Start Date:</label>
                <input data-provide="datepicker" class="datepicker form-control" autocomplete="off" name="start" type="text" placeholder="mm/dd/yyy" id="start" />
            </div>
            <div class="col-md-6">
                <label class="h4">End Date:</label>
                <input data-provide="datepicker" name="end" class="datepicker form-control" autocomplete="off" placeholder="mm/dd/yyy" id="end" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-12 text-center">
                <button class="btn btn-lg btn-danger" type="submit" name="button" value="faculty">Submit</button>
                @Html.ActionLink("Go Back", "Index", "Faculty", null, new { @class = "btn btn-default btn-lg" })
            </div>
        </div>
    }
</div>

@section scripts 
{
    <script type="text/javascript">
        $('#start').datepicker({
            maxViewMode: 0
        });
        $('#end').datepicker({
            maxViewMode: 0
        });
    </script>
}