.center {
    text-align: center;
}

body {
    margin-top: 25px;
    background-color: #FFFFFF;
}

h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #272324;
}

li,
h2,
h3,
h4,
p {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #272324;
}

li, 
p {
    font-size: 18px;
}

button,
.btn {
    color: #FFFFFF;
    background-color: #850915;
    border-radius: 5px;
}

    button:hover,
    .btn:hover {
        color: #850915;
        background-color: #FFFFFF;
        border-radius: 5px;
        border: solid 2px #850915;
    }

.btn {
    font-size: 24px;
    margin: 5px;
}

input {
    width: 30%;
    height: 35px;
    border-radius: 10px;
    border-color: #850915;
    border-width: 2px;
    color: #272324;
}
    input[type=file] {
        border-radius: 0;
    }
    input[type=radio] {
        width: unset;
    }

select {
    height: 40px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    border-radius: 10px;
    border-color: #850915;
    border-width: 2px;
    color: #272324;
    font-size: 20px;
}
    select option {
        text-align: center;
    }

.container {
    background-color: #E7E7E7;
    border-radius: 10px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    border-color: #850915;
    border-style: solid;
}

table {
    width: 75%;
    background-color: #C0C8D1;
    border: 1px solid #850915;
}

th {
    padding: 5px;
    border: 1px solid #850915;
    text-align: center;
    color: #272324;
}

td {
    padding: 5px;
    border: 1px solid #850915;
    text-align: center;
    color: #272324;
}
