.center {
    text-align: center;
}

body {
    margin-top: 25px;
    background-color: #EFF7CF;
}

h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #0D0A0B;
}

li,
h2,
h3,
h4,
p {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #EFF7CF;
}

button,
.btn {
    color: #EFF7CF;
    background-color: #850915;
    border-radius: 5px;
}

    button:hover,
    .btn:hover {
        color: #850915;
        background-color: #EFF7CF;
        border-radius: 5px;
    }

input {
    width: 35%;
    height: 35px;
    border-radius: 10px;
    border-color: #850915;
    color: #0D0A0B;
}

.container {
    background-color: #902B33;
    border-radius: 10px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    border-color: #23CE6B;
}

.table {
    background-color: #23CE6B;
}

th {
    padding: 5px;
    border: 1px solid #850915;
    text-align: center;
    color: #EFF7CF;
}

td {
    padding: 5px;
    border: 1px solid #850915;
    color: #EFF7CF;
}

select {
    color: #0D0A0B;
}
