@model IEnumerable<MathCenter.Models.Class>
@{
    ViewBag.Title = "ClassDept";
}

<div class="container">
    <h1>Please select your class prefix:</h1>
    <h2>For example: If you are taking MTH 111, select MTH</h2>
    <h3>If your class prefix is not in the list, please select Other</h3>
    <div class="center">
        <form method="post">
            <h3>
                <select name="dept">
                    @foreach (var item in Model)
                    {
                        <option value=@Html.DisplayFor(modelItem => item.DeptPrefix)>@Html.DisplayFor(modelItem => item.DeptPrefix)</option>
                    }
                    <option value="other">Other</option>
                </select>
                <input type="hidden" name="NumWeek" value=@ViewBag.NumWeek />
                <input type="hidden" name="Id" value=@ViewBag.Id />
                <button type="submit">Submit</button>
            </h3>
        </form>
    </div>
</div>

