@model MathCenter.Models.Student
@{
    ViewBag.Title = "Done";
}

<div class="content">
    <div class="row">
        <div class="col-12 text-center">
            <h2>@Model.FirstName&nbsp;@Model.LastName</h2>
        </div>
        <div class="col-12" id="border-red"></div>
    </div>
    <div class="row">
        <div class="col-3 text-right">
            <h3>Your V-Number:</h3>
        </div>
        <div class="col-9">
            <h3><span class="red-text">@Model.VNum</span></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-3 text-right">
            @if (Model.StudentClasses.Count() == 1)
            {
                <h3>Your Class:</h3>
            }
            else
            {
                <h3>Your Classes:</h3>
            }
        </div>
        <div class="col-9">
            @if (Model.StudentClasses.Count() == 1)
            {
                if (Model.StudentClasses.First().Class.Other != null)
                {
                    <h3><span class="red-text">@Model.StudentClasses.First().Class.Other</span></h3>
                }
                else
                {
                    <h3><span class="red-text">@Model.StudentClasses.First().Class.ToString()</span></h3>
                }
            }
            else
            {
                
            }
        </div>
    </div>
</div>