@model MathCenter.Models.Student
@{
    ViewBag.Title = "Done";
}

<div class="content">
    <div class="row">
        <div class="col-6">
            <div class="border-bottom">
                <h2>Is this you?</h2>
            </div>
            <div class="text-left">
                <h3 class="red-text">@Html.DisplayFor(m => m.FirstName)&nbsp;@Html.DisplayFor(m => m.LastName)</h3>
            </div>
        </div>
        <div class="col-6">
            <div class="border-bottom">
                <h2>Are these your classes?</h2>
            </div>
            <div class="text-left">
                @foreach (var sClass in Model.StudentClasses)
                {
                    <label class="h3 red-text">
                        <input type="checkbox" name="classID" style="height:15px;" value="@Html.DisplayFor(m => sClass.Class.ClassID)" checked>
                        &nbsp;@Html.DisplayFor(m => sClass.Class.DeptPrefix)&nbsp;@Html.DisplayFor(m => sClass.Class.ClassNum)&nbsp;@Html.DisplayFor(m => sClass.Class.Instructor)&nbsp;@Html.DisplayFor(m => sClass.Class.Other)
                    </label>
                }
            </div>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-6 text-right">
            @Html.ActionLink("No", "Name", "Home", null, new { @class="btn btn-default btn-lg"})
        </div>
        <div class="col-6 text-right">
            <!--I want this to be an ActionLink... -->
            <button class="btn btn-danger btn-lg">Edit Classes</button>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-6 text-left">
            @Html.ActionLink("Go Back", "Welcome", "Home", null, new { @class="btn btn-danger btn-lg" })
        </div>
        <div class="col-6 text-right">
            <button type="submit" class="btn btn-default btn-lg">Continue</button>
        </div>
    </div>
</div>