
@{
    ViewBag.Title = "Finish";
}

<div class="container">
    <div class="center">
        <h3>"There is a difference between not knowing and not knowing yet." -Shelia Tobias</h3>
        <h2>Good luck with your math endeavors!</h2>
        @Html.ActionLink("Done", "SignIn", "Home")
    </div>
</div>

