<div class="content">
    @if (ViewBag.Error != null)
    {
        @Html.Partial("_Errors", "Partials", new ViewDataDictionary { { "error", ViewBag.Error } })
    }
    <div class="row">
        <div class="col-md-6 col-12">
            <h2 class="border-bottom">Tutors:</h2>
            @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { }))
            {
                <div class="row form-group">
                    <div class="col-md-5 text-md-right col-12 align-middle">
                        <label class="vertical-center">Week Number:</label>
                    </div>
                    <div class="col-md-7 col-12">
                        <select class="form-control" name="Week">
                            <option value="-1" selected>-</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-5 text-md-right col-12 align-middle">
                        <label class="vertical-center">Password:</label>
                    </div>
                    <div class="col-md-7 col-12">
                        <input class="form-control" type="password" name="tutorPwd" />
                    </div>
                </div>
                <div class="row justify-content-center form-group">
                    <div class="col-12 text-right">
                        <button class="btn btn-lg btn-danger" type="submit">Submit</button>
                    </div>
                </div>

            }
        </div>
        <div class="col-md-6 col-12">
            <h2 class="border-bottom">Faculty:</h2>
            @using (Html.BeginForm("Faculty", "Home", FormMethod.Post, new { }))
            {
                <div class="row form-group">
                    <div class="col-12 quote text-center">
                        <h3>Math puns are a <i>sine</i> of a big problem.</h3>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4 text-md-right col-12">
                        <label class="vertical-center">Password:</label>
                    </div>
                    <div class="col-md-8 col-12">
                        <input class="form-control" type="password" name="facultyPwd" />
                    </div>
                </div>
                <div class="row justify-content-center form-group">
                    <div class="col-12 text-right">
                        <button class="btn btn-lg btn-default" type="submit">Submit</button>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <h4><span class="oi oi-heart red-text" title="heart" aria-hidden="true"></span>&nbsp;"The only way to learn mathematics is to do mathematics." ~Paul Halmos&nbsp;<span class="oi oi-heart red-text" title="heart" aria-hidden="true"></span></h4>
        </div>
    </div>
</div>