@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Tutors:</h1>
            <div class="center">
                <h2>
                    Week Number:
                    <select>
                        <option name="Week" value="-">-</option>
                        <option name="Week" value="2">2</option>
                        <option name="Week" value="3">3</option>
                        <option name="Week" value="4">4</option>
                        <option name="Week" value="5">5</option>
                        <option name="Week" value="6">6</option>
                        <option name="Week" value="7">7</option>
                        <option name="Week" value="8">8</option>
                        <option name="Week" value="9">9</option>
                        <option name="Week" value="10">10</option>
                        <option name="Week" value="11">11</option>
                    </select><br /><br />
                    Password: <input type="password" name="password" /><br /><br />
                </h2>
                <h3><button type="submit">Submit</button></h3>
            </div>
        </div>
        <div class="col-md-6">
            <div class="center">
                <h3>"The only way to learn mathematics is to do mathematics" ~Paul Halmos</h3>
            </div>
            <h1>Laurie: </h1>
            <div class="center">
                <h2>
                    Password: <input type="password" name="password" /><br /><br />
                </h2>
                <h3><button type="submit">Submit</button></h3>
            </div>
        </div>
    </div>
</div>