@model IEnumerable<MathCenter.Models.Class>
@{
    ViewBag.Title = "SelectClassNum";
}

<h1>Please Select Your Class Number:</h1>
<h2>For Example, if you are taking Math 111, select 111.</h2>

<div class="center">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <h3>
                    <select>
                        @foreach (var item in Model)
                        {
                            <option name="classNum" value=@Html.DisplayFor(modelItem => item.ClassNum)> @Html.DisplayFor(modelItem => item.ClassNum) </option>
                        }
                        <option name="classNum" value="other">Other</option>
                    </select>
                    <button type="submit">Submit</button>
                </h3>
            </div>
        </div>
    }
</div>    
