@model IEnumerable<MathCenter.Models.Class>
@{
    ViewBag.Title = "SelectClass";
}

<h1>Please Select Your Class Prefix:</h1>
<h2>For Example, if you are taking Math 111, select MTH.</h2>

<div class="center">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <h3>
            <select>
                @foreach (var item in Model)
                {
                    <option name="classDept" value=@Html.DisplayFor(modelItem => item.DeptPrefix)> @Html.DisplayFor(modelItem => item.DeptPrefix) </option>
                }
                <option name="classDept" value="other">Other</option>
            </select>
            <button type="submit">Submit</button>
        </h3>
    }
</div>

