
@{
    ViewBag.Title = "SignIn";
}
<br /><br />
<div class="center">
    <h1>Welcome! Please Sign In Here!</h1>
    <br />    
    <form method="get">
        <input type="text" placeholder="Your V# ..." name="VNum" required />
        <button type="submit">Submit</button>
    </form>
</div>

