
@{
    ViewBag.Title = "Sign In";
}
<br /><br />
<div class="center">
    <h1>Welcome!</h1>
    <h2>Please Sign In Here!</h2>
    <form method="get">
        <h3>
            V <input type="text" placeholder="Your V# ..." name="VNum" required />
            <button type="submit">Submit</button>
        </h3>
    </form>
</div>