@{
    ViewBag.Title = "Sign In";
}
<br /><br />
<div class="center">
    <h1 style="font-size:75px;">Welcome!</h1>
    <h2>Please Sign In Here!</h2>
    <form method="post">
        <h3>
            V <input type="text" placeholder="Your V# ..." name="VNum" />
            <input type="hidden" name="week" value=@ViewBag.Num />
            <button type="submit" name="VButton" onclick="SignIn()">Submit</button>
        </h3>
        <div id="Error" style="color: darkblue;"><h4></h4></div>
    </form>
</div>

@section scripts
{
    <script type="text/javascript" src="~/Scripts/database_java.js"></script>
}