@{
    ViewBag.Title = "Sign In";
}

<div class="container">
    <div class="center">
        <h1 style="font-size:75px;">Welcome!</h1>
        <h2>Please sign in here:</h2>
        <form method="post">
            <h3>
                V <input type="text" placeholder="Your V# ..." name="VNum" />
                <input type="hidden" name="week" value=@ViewBag.Num />
                <button type="submit">Submit</button>
            </h3>
            <div class="center">
                <h4 style="color: darkblue;">@ViewBag.Error</h4>
            </div>
        </form>
    </div>
</div>