    <div class="content">
    @if (ViewBag.Error != null)
    {
        @Html.Partial("_Errors", "Partials", new ViewDataDictionary { { "error", ViewBag.Error } })
    }
    <div class="row">
        <div class="col-12 text-center">
            <h1>Welcome!</h1>
            <h2>Please enter your V Number</h2>
        </div>
    </div>
    @using (Html.BeginForm())
    {
        <div class="row form-group justify-content-center no-gutters">
            <div class="col-md-5 col-12">
                <label class="h3">V&nbsp;</label>
                <input type="text" class="form-control col-11" style="display:inline-block !important;" placeholder="XXXXXXXX" name="VNum" />
                <input type="hidden" name="week" value=@ViewBag.Num />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-12 text-center">
                <button class="btn btn-lg btn-danger" type="submit">
                    <span class="oi oi-media-play" title="media-play" aria-hidden="true"></span> Submit
                </button>
            </div>
        </div>
    }
</div>