@model MathCenter.Models.ViewModels.WelcomeViewModel
<div class="content">
    @if (ViewBag.Error != null)
    {
        @Html.Partial("_Errors", "Partials", new ViewDataDictionary { { "error", ViewBag.Error } })
    }

    <div class="row justify-content-center">
        <div class="col-12 text-center welcome-title">
            <h1>Welcome!</h1>
        </div>
        <div class="col-12" id="border"></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-8 col-12">
            <h2 class="border-bottom">Please enter your V Number</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-10 col-12">
            @using (Html.BeginForm())
            {
            <div class="row form-group justify-content-center no-gutters">
                <label class="col-1 vertical-center text-right">V&nbsp;</label>
                @Html.TextBoxFor(model => model.VNum, new { @class = "form-control col-11", style = "display:inline-block !important;", placeholder = "XXXXXXXX" })
            </div>
                <div class="row form-group">
                    <div class="col-12 text-right">
                        <button class="btn btn-lg btn-danger" type="submit">Submit</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>