
@{
    ViewBag.Title = "Complete";
}

<div class="container">
    <div class="center">
        <h1>Your reset is complete.</h1>
        <h2>Go back?: @Html.ActionLink("Back to home", "Index", "Faculty")</h2>
    </div>
</div>

